<div id="copyright">
  Copyright © Tomasz Kramkowski.
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />
  All hosted work, unless otherwise specified, is available under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> International License.<br />

  <!--Linux is a registered trademark of Linus Torvalds.-->
</div>
