<hr />
    <footer>
      <a href="mailto:website-inquiries@the-tk.com">contact</a> •
      <a href="https://github.com/EliteTK">github</a> •
      <a href="https://the-tk.com/cgit">cgit</a> •
      <a href="http://www.catb.org/hacker-emblem/"><img class="icon" src="/images/glider-yellow.png" alt="Hacker Emblem" /></a> •
      <a href="https://www.eff.org/"><img class="icon" src="/images/EFF.png" alt="EFF Logo" /></a> •
      <a href="https://www.fsf.org/"><img class="icon" src="/images/GNU.png" alt="GNU Logo" /></a>
    </footer>
