<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon16x16.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | replace_newlines: ' ' | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="Tomasz Kramkowski, the-tk, blog, projects, TK, Arch-TK">
  </head>
